[submodule "jobs"]
	path = jobs
	url = https://github.com/vrastil/FastSim-Jobs.git
[submodule "install"]
	path = install
	url = https://github.com/vrastil/FastSim-Container.git
[submodule "src/3party/CCL"]
	path = src/3party/CCL
	url = https://github.com/vrastil/CCL.git
	branch = FastSim
[submodule "src/3party/MultiGridSolver"]
	path = src/3party/MultiGridSolver
	url = https://github.com/vrastil/MultiGridSolver.git
[submodule "src/3party/findFFTW"]
	path = src/3party/findFFTW
	url = https://github.com/egpbos/findFFTW.git
