
# output directory, internal documents
output/
report/
doc/html
doc/latex
doc/main.html

# program, object files, libraries, depedency files, scripts
fastsim
debug
tests/test
*.o
*.d
*.a
*.so
*.gch
*.sh
*.pbs
*.ipynb
*.pyc

# swig files, created symlinks
swig/*.cpp
swig/*.py
simpy/fastsim.py

# other files
*.gcda
*.dot
*.out

# Visual Studio Code
.vscode/

# metacentrum files for jobs
logs/
qsub*
