
# output directory, internal documents
output/
report/

# program, object files, depedency files, scripts
adh_app
tests/test
*.o
*.d
*.sh
*.ipynb
*.pyc

# other files
*.gcda
*.dot
*.out

# Visual Studio Code
.vscode/

# metacentrum files for jobs
logs/
qsub*
