# ****************
# * MESH OPTIONS *
# ****************

mesh_num = 64		# number of mesh cells in the box per dimension (potential)
mesh_num_pwr = 128 # number of mesh cells in the box per dimension (power spectrum)
par_num = 1		# ratio of mesh cells and number of particles per dimension
box_size = 3000		# box size in units of Mpc/h

# ***********************
# * INTEGRATION OPTIONS *
# ***********************

redshift = 200		# redshift at the start of the simulation
redshift_0 = 20		# redshift at the end of the simulation
time_step = 0.02		# dimensionless time-step (scale factor)
print_every = 5     # save particle positions and power spectrum every n-th step

# ******************
# * APPROXIMATIONS *
# ******************

comp_ZA = 1		# compute Zeldovich approximation
comp_FF = 0		# compute Frozen-flow approximation
comp_FP = 0		# compute Frozen-potential approximation
comp_AA = 0 	# compute Adhesion approximation
comp_FP_pp = 0	# compute Frozen-potential approximation (particle-particle interaction)

# ***************************
# * COSMOLOGICAL PARAMETERS *
# ***************************

Omega_b = 0.05  # density of baryons relative to the critical density
Omega_c = 0.25   # density of CDM relative to the critical density
Hubble = 67     # Hubble constant in units of km/s/Mpc
n_s = 0.963		    # power-law index of the scale-free power spectrum
sigma8 = 0.8		# normalization of the power spectrum at R = 8 Mpc/h
smoothing_k = 0		# smoothing wavenumber of TZA in units of h/Mpc, set 0 for ZA
pwr_type = 4		# power spectrum type:
			        #   power_law_T = 0 (BBKS), power_law = 1
                    #   flat = 2, single = 3 (special)
                    #   ccl_EH = 4, ccl_BBKS = 5

# ***************************
# * APPROXIMATION`S OPTIONS *
# ***************************

viscosity = 0.01		# 'viscozity' for adhesion approximation in units of (Mpc/h)^2
cut_radius = 2.7    # short-range force cutoff radius in units of mesh cells

# ***************
# * RUN OPTIONS *
# ***************

num_thread = 0		# number of threads the program will use
out_dir = output/test_runs/	# output folder name
